POSTGRES_USER=postgres
POSTGRES_PW=password
POSTGRES_DB=newsletter
POSTGRES_HOST=newsletter
APP_PORT=8080
APP_BASE_URL="https://newsletter.devidcorsard.pp.ua"
APP_HMAC_SECRET="very_long_and_secret_string"

# for sqlx:
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PW}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
